html {
  font-size: 16px;
  line-height: 1.4;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.flex-container {
  display: flex;
  flex-direction: row;

  box-sizing: content-box;
  border: 5px solid royalblue;
}


.navigation-sidebars-container {
  background-color: lightblue;
  /*border: 3px dotted red;*/

  width: 300px;

  display: flex;
  flex-direction: row;
}

.left-sidebar {
  background-color: gold;

  width: 100px;
  height: calc(100vh - 10px);
  overflow: scroll;

  padding: 0 5px;
}

.right-sidebar {
  background-color: lawngreen;

  width: 200px;
  height: calc(100vh - 10px);
  overflow: scroll;

  padding: 0 5px;
}

.main-page-content-container {
  border: 3px dashed steelblue;
  flex: auto;
}

.page-header {
  border: 3px solid #555555;
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(32, 57, 26, 0.4);
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.page-content-container {
  border: 3px dotted deeppink;
  box-sizing: border-box;
  padding: 20px;
  width: auto;
  overflow: scroll;
}

.static-page-content {
  background-color: mintcream;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}

.data-table {
  background-color: azure;
  max-width: 900px;
  max-height: 400px;
  width: auto;
  height: auto;
  overflow: scroll;
  box-sizing: border-box;
}

.data-table table {
  position: relative;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.data-table td, th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.data-table th {
  background-color: aliceblue;
  position: sticky;
  top: -1px;
  z-index: 2;
}

.data-table th:first-of-type {
  left: 0;
  z-index: 3;
}

tbody tr td:first-of-type {
  background-color: aliceblue;
  position: sticky;
  left: -1px;
  text-align: left;
}


/* ==========================================================================
   Media Queries for Responsive Design (mobile)
   ========================================================================== */

@media only screen and (max-width: 35em) {
  body {
    background-color: lightblue;
  }

  .navigation-sidebars-container {
    display: none;
  }
}
