* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  margin: 0;
  background-color: snow;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  color: midnightblue;
}

/* Page Layout */
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  border: 5px solid royalblue;
}

/* Side Navigation */
.navigation-sidebars-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 300px;
  background-color: lightblue;
  border: 5px solid turquoise;
}

.left-sidebar {
  width: 120px;
  height: calc(100vh - 10px);
  overflow: scroll;
  padding: 0 5px;
  background-color: #b3d4fc;
}

.right-sidebar {
  width: 180px;
  height: calc(100vh - 10px);
  overflow: scroll;
  padding: 0 5px;
  background-color: lightsteelblue;
}

/* Content */
.main-page-content-container {
  display: flex;
  -webkit-flex: auto;
  flex: auto;
  flex-direction: column;
  border: 5px solid orange;
  overflow: hidden;
}

.page-header {
  width: 100%;
  height: 100px;
  background-color: lightblue;
  border: 5px solid salmon;
}

.page-content-container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border: 5px solid darkslateblue;
}

.static-page-content {
  width: 100%;
  height: 2000px;
  background-color: palegreen;
}

.static-page-content h1, p {
  margin: 0;
  padding: 10px 20px;
}

/* Table */
.data-table {
  /*max-width: 900px;*/
  /*max-height: 400px;*/
  /*height: 100vh;*/
  /*width: auto;*/
  /*height: 100%;*/
  /*overflow-x: scroll;*/
  /*overflow-y: hidden;*/
  /*overflow-y: scroll;*/
  /*overflow: scroll;*/
  background-color: azure;
}

.data-table table {
  position: relative;
  border: 3px solid olivedrab;
}

.data-table td, th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.data-table th {
  background-color: orangered;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 2;
}

.data-table th:first-of-type {
  left: 0;
  z-index: 3;
}

tbody tr td:first-of-type {
  background-color: teal;
  position: -webkit-sticky;
  position: sticky;
  left: -1px;
  text-align: left;
}


/* ==========================================================================
   Media Queries for Responsive Design (mobile)
   ========================================================================== */

@media only screen and (max-width: 35em) {
  body {
    background-color: lightblue;
  }

  .navigation-sidebars-container {
    display: none;
  }
}
