html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: lightgray;
}

.hidden,
[hidden] {
  display: none !important;
}


.invisible {
  visibility: hidden;
}


.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design (mobile)
   ========================================================================== */

@media only screen and (max-width: 35em) {
  body {
    background-color: lightblue;
  }
}
