* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  color: midnightblue;
}

/* Page Layout */
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  border: 5px solid royalblue;
  height: 100vh;
  overflow: hidden;
}

/* Side Navigation */
.navigation-sidebars-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  background-color: lightblue;
  border: 5px solid turquoise;
  width: 300px;
}

.left-sidebar {
  background-color: #b3d4fc;
  width: 120px;
  height: calc(100vh - 10px);
  overflow: scroll;
  padding: 0 5px;
}

.right-sidebar {
  background-color: lightsteelblue;
  width: 180px;
  height: calc(100vh - 10px);
  overflow: scroll;
  padding: 0 5px;
}

/* Content */
.main-page-content-container {
  display: flex;
  -webkit-flex: auto;
  flex: auto;
  flex-direction: column;
  border: 5px solid orange;
  overflow: hidden;
}

.page-header {
  background-color: lightblue;
  border: 5px solid salmon;
  width: 100%;
  height: 100px;
}

.page-content-container {
  flex: 1;
  border: 5px solid darkslateblue;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* Static page content */
.static-page-content {
  flex: 1;
  position: sticky;
  left: 0;
  background-color: palegreen;
  z-index: 5;
}

.static-page-content h1, p {
  margin: 0;
  padding: 10px 20px;
}

/* Table */
.data-table table {
  position: relative;
  border: none;
  background-color: mintcream;
}

.data-table td, th {
  border: 1px solid #ddd;
  white-space: nowrap;
  padding: 15px;
  text-align: center;
}

.data-table th {
  background-color: coral;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.data-table th:first-of-type {
  left: 0;
  z-index: 3;
}

tbody tr td:first-of-type {
  background-color: teal;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  text-align: left;
}

/* ==========================================================================
   Media Queries for Responsive Design (mobile)
   ========================================================================== */

@media only screen and (max-width: 35em) {

  /* Side Navigation */
  .navigation-sidebars-container {
    display: none;
  }
}
